@import './../general';

.item {
  position: relative;
  width: 100%;
  min-height: 46px;
  border-bottom: 1px solid var(--border-color);

  @include breakpoint(medium) {
    min-height: 70px;
  }
}

.itemCheckbox {
  opacity: 0;
  z-index: 10;
  position: absolute;
  top: 13px;
  left: 10px;
  width: 18px;
  height: 18px;

  @include breakpoint(medium) {
    top: 20px;
    left: 26px;
    width: 28px;
    height: 28px;
  }

  @include breakpoint(large) {
    cursor: pointer;
  }
}

.itemLabel {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 12px 38px;
  min-height: 45px;
  color: var(--active-text-color);
  overflow-wrap: break-word;

  @include p-normal;

  @include breakpoint(medium) {
    padding: {
      top: 23px;
      bottom: 19px;
      right: 68px;
      left: 80px;
    }
    min-height: 69px;
  }

  .itemCheckbox:checked + & {
    color: var(--completed-text-color);
    text-decoration: line-through;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 10px;
    width: 18px;
    height: 18px;
    background: {
      image: var(--checkbox-icon);
      position: top;
      repeat: no-repeat;
      size: cover;
    }

    @include breakpoint(medium) {
      top: 20px;
      left: 26px;
      width: 28px;
      height: 28px;
    }

    .itemCheckbox:hover + & {
      @include breakpoint(large) {
        background-image: var(--checkbox-hover-icon);
      }
    }

    .itemCheckbox:checked + & {
      width: 20px;
      background-image: var(--checkbox-checked-icon);

      @include breakpoint(medium) {
        width: 31px;
      }
    }
  }
}

.itemEditInput {
  z-index: 10;
  position: absolute;
  top: 12px;
  left: 10px;
  width: calc(100% - 48px);
  background-color: var(--todo-background-color);
  color: var(--active-text-color);

  @include p-normal;

  @include breakpoint(medium) {
    top: 23px;
    left: 26px;
    width: calc(100% - 94px);
  }
}

.itemDeleteBtn {
  position: absolute;
  top: 17px;
  right: 14px;
  width: 12px;
  height: 12px;
  background: {
    color: transparent;
    repeat: no-repeat;
    position: center;
    size: cover;
    image: var(--delete-icon);
  }

  @include breakpoint(medium) {
    top: 27px;
    right: 26px;
    width: 16px;
    height: 16px;
  }

  @include breakpoint(large) {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s linear;
  }

  .item:hover & {
    @include breakpoint(large) {
      opacity: 1;
      transition: {
        property: opacity, background-image;
        duration: 0.4s, 0.2s;
        timing-function: linear;
      }
    }
  }

  .item:hover &:hover {
    @include breakpoint(large) {
      opacity: 1;
      background-image: var(--delete-hover-icon);
      transition: background-image 0.2s linear;
    }
  }
}
