@import './../general';

.todoHeader {
  position: relative;
  width: 100%;
  padding: 14px 10px;
  height: 46px;
  background-color: var(--todo-background-color);
  border-radius: 4px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);

  @include breakpoint(medium) {
    padding: 21px 26px;
    height: 70px;
    border-radius: 6px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  }
}

.todoHeader__label {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: {
    color: transparent;
    image: var(--plus-icon);
    repeat: no-repeat;
    position: center;
    size: cover;
  }

  @include breakpoint(medium) {
    width: 28px;
    height: 28px;
  }

  @include breakpoint(large) {
    transition: transform 1s ease;
  }

  .todoHeader:hover & {
    @include breakpoint(large) {
      transform: rotate(180deg);
      transition: transform 1s ease;
    }
  }
}

.todoHeader__field {
  position: absolute;
  top: 13px;
  left: 38px;
  width: calc(100% - 52px);
  background-color: var(--todo-background-color);

  @include p-normal;

  @include breakpoint(medium) {
    top: 24px;
    left: 80px;
    width: 434px;
  }

  &::placeholder {
    color: var(--main-text-color);
    font-style: italic;
  }

  &:focus {
    color: var(--active-text-color);
    font-style: normal;

    &::placeholder {
      opacity: 0;
    }
  }
}
