@import "../../../styles/breakpoints";

.root {
  margin-top: 36px;

  &_withoutItems {
    margin-bottom: 80px;
  }

  @include breakpoint(medium) {
    margin-top: 60px;

    &_withoutItems {
      margin-bottom: 100px;
    }
  }
}

.mainBlock {
  margin-top: 22px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  @include breakpoint(medium) {
    margin-top: 26px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
  }
}
