/* light theme variables */

body[data-theme="light"] {
  --todo-background-color: #ffffff;
  --active-text-color: #3f3f3f;
  --completed-text-color: #d1d1d1;
  --main-text-color: #9e9e9e;
  --border-color: #eaeaea;
  --page-background-color: #f5f5f5;
  --grad-light-color: #c5e3ff;
  --grad-dark-color: #6ab8ff;
  --active-filter-color: #6ab8ff;
  --accent-text-color: #ff5732;

  --theme-button-icon: url("../assets/icons/lightTheme/sun.svg");
  --delete-icon: url("../assets/icons/lightTheme/delete.svg");
  --delete-hover-icon: url("../assets/icons/lightTheme/delete-hover.svg");
  --pen-icon: url("../assets/icons/lightTheme/pen.svg");
  --pen-hover-icon: url("../assets/icons/lightTheme/pen-hover.svg");
  --checkbox-icon: url("../assets/icons/lightTheme/checkbox.svg");
  --checkbox-hover-icon: url("../assets/icons/lightTheme/checkbox-hover.svg");
  --checkbox-checked-icon: url("../assets/icons/lightTheme/checkbox-checked.svg");
  --plus-icon: url("../assets/icons/lightTheme/plus.svg");

  --theme-button-width: 33px;
  --theme-button-small-width: 24px;
}
